<?xml version="1.0"?>
<!--
	**
	*@package     Andersongustavo_Sociallinks
	*@author      Anderson Gustavo Rodrigues Alves - anderson.quata@hotmail.com
	*@copyright   Anderson Gustavo Rodrigues Alves - anderson.quata@hotmail.com
	*@license     https://opensource.org/licenses/AFL-3.0  Academic Free License 3.0 | Open Source Initiative
	**
-->
<config>
    <modules>
        <Andersongustavo_Sociallinks>
            <version>1.0</version>
        </Andersongustavo_Sociallinks>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Andersongustavo_Sociallinks>
                    <file>sociallinks.xml</file>
                </Andersongustavo_Sociallinks>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <sociallinks>
                <class>Andersongustavo_Sociallinks_Helper</class>
            </sociallinks>
        </helpers>
        <blocks>
            <sociallinks>
                <class>Andersongustavo_Sociallinks_Block</class>
            </sociallinks>
        </blocks>
    </global>
</config>