<?xml version="1.0"?>
<!--
	**
	*@package     Andersongustavo_Sociallinks
	*@author      Anderson Gustavo Rodrigues Alves - anderson.quata@hotmail.com
	*@copyright   Anderson Gustavo Rodrigues Alves - anderson.quata@hotmail.com
	*@license     https://opensource.org/licenses/AFL-3.0  Academic Free License 3.0 | Open Source Initiative
	**
-->
<config>
    <tabs>
        <andersongustavo translate="label" module="sociallinks">
            <label>Social Links</label>
            <sort_order>100</sort_order>
        </andersongustavo>
    </tabs>

    <sections>
        <andersongustavo_options translate="label" module="sociallinks">
            <label>Sharing Options</label>
            <tab>andersongustavo</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <head translate="label" module="sociallinks">
                    <label>Head text</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Text</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert a label text. Ex: Share with your friends!</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </head>
            </groups>
            <groups>
                <facebook translate="label" module="sociallinks">
                    <label>Facebook</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </facebook>
            </groups>
            <groups>
                <twitter translate="label" module="sociallinks">
                    <label>Twitter</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </twitter>
            </groups>
            <groups>
                <google translate="label" module="sociallinks">
                    <label>Google+</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </google>
            </groups>
            <!--<groups>-->
                <!--<instagram translate="label" module="sociallinks">-->
                    <!--<label>Instagram</label>-->
                    <!--<frontend_type>text</frontend_type>-->
                    <!--<sort_order>4</sort_order>-->
                    <!--<show_in_default>1</show_in_default>-->
                    <!--<show_in_website>1</show_in_website>-->
                    <!--<show_in_store>1</show_in_store>-->

                    <!--<fields>-->
                        <!--<andersongustavo_select translate="label">-->
                            <!--<label>Enabled</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<sort_order>1</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                        <!--</andersongustavo_select>-->
                    <!--</fields>-->
                    <!--<fields>-->
                        <!--<andersongustavo_text translate="label">-->
                            <!--<label>Sort order</label>-->
                            <!--<frontend_type>text</frontend_type>-->
                            <!--<comment>Insert the order that, the social network buttons should be displayed</comment>-->
                            <!--<sort_order>2</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                        <!--</andersongustavo_text>-->
                    <!--</fields>-->
                <!--</instagram>-->
            <!--</groups>-->
            <groups>
                <linkedin translate="label" module="sociallinks">
                    <label>Linkedin</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </linkedin>
            </groups>
            <groups>
                <pinterest translate="label" module="sociallinks">
                    <label>Pinterest</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </pinterest>
            </groups>
            <!--<groups>-->
                <!--<github translate="label" module="sociallinks">-->
                    <!--<label>GitHub</label>-->
                    <!--<frontend_type>text</frontend_type>-->
                    <!--<sort_order>6</sort_order>-->
                    <!--<show_in_default>1</show_in_default>-->
                    <!--<show_in_website>1</show_in_website>-->
                    <!--<show_in_store>1</show_in_store>-->

                    <!--<fields>-->
                        <!--<andersongustavo_select translate="label">-->
                            <!--<label>Enabled</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<sort_order>1</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                        <!--</andersongustavo_select>-->
                    <!--</fields>-->
                    <!--<fields>-->
                        <!--<andersongustavo_text translate="label">-->
                            <!--<label>Sort order</label>-->
                            <!--<frontend_type>text</frontend_type>-->
                            <!--<comment>Insert the order that, the social network buttons should be displayed</comment>-->
                            <!--<sort_order>2</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                        <!--</andersongustavo_text>-->
                    <!--</fields>-->
                <!--</github>-->
            <!--</groups>-->
            <groups>
                <reddit translate="label" module="sociallinks">
                    <label>Reddit</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </reddit>
            </groups>
            <groups>
                <tumblr translate="label" module="sociallinks">
                    <label>Tumblr</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </tumblr>
            </groups>
            <groups>
                <whatsapp translate="label" module="sociallinks">
                    <label>Whatsapp</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <andersongustavo_select translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </andersongustavo_select>
                    </fields>
                    <fields>
                        <andersongustavo_text translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <comment>Insert the order that, the social network buttons should be displayed</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </andersongustavo_text>
                    </fields>
                </whatsapp>
            </groups>
        </andersongustavo_options>
    </sections>
</config>